<html>
<head>
	<title>TelaSocial - {% block title %}Base{% endblock %}</title>
	
	<link type="text/css" rel="stylesheet" href="/static/css/base.css" />
	<script src="/static/js/jquery-1.4.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/jquery-ui-1.8.7.min.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div id="container">
		<div id="header">
			<div id="logo"><a href="/"><img src="/static/imgs/minitelasocial-logo.png" width="400" height="97" alt="TelaSocial Logo"></a></div>
			<div id="navigation">
				<ul>
					<li><a href="/dashboard">My account</a></li>
					<li>(<a href="{{ url }}">Sign Out</a>)</li>
				</ul>
			</div>
		</div>
    	<div id="content">
    	    {% block content %}{% endblock %}
    	</div>
		<div style="clear:both"></div>
		<div id="footer">
    	    Copyright © 2010-2011 Taboca 
    	</div>
	</div>
</body>
</html>